@font-face {
  font-family: "TheJamsil1Thin";
  src: url("../font/The\ Jamsil\ OTF\ 1\ Thin.otf");
  font-style: normal;
}
@font-face {
  font-family: "TheJamsil2Light";
  src: url("../font/The\ Jamsil\ OTF\ 2\ Light.otf");
  font-style: normal;
}
@font-face {
  font-family: "TheJamsil3Regular";
  src: url("../font/The\ Jamsil\ OTF\ 3\ Regular.otf");
  font-style: normal;
}
@font-face {
  font-family: "TheJamsil4Medium";
  src: url("../font/The\ Jamsil\ OTF\ 4\ Medium.otf");
  font-style: normal;
}
@font-face {
  font-family: "TheJamsil5Bold";
  src: url("../font/The\ Jamsil\ OTF\ 5\ Bold.otf");
  font-style: normal;
}
@font-face {
  font-family: "TheJamsil6ExtraBold";
  src: url("../font/The\ Jamsil\ OTF\ 6\ ExtraBold.otf");
  font-style: normal;
}
