@charset "utf-8";
@import url("font.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
/* 공통 */
.inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


/* 태훈 */
/* header */
header{
  width: 100%;
  
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: rgb(224, 74, 74);
  z-index: 99999;
}
.header-top{
 
  width: 100%;
  height: 228px;
  /* background-color: aqua; */
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-search{
  width: 246px;
  height: 30px;
  position: relative;
  /* background-color: antiquewhite; */
}
.search-text{
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
.search-bt{
  background: url("../images/search.png") no-repeat center;
  width: 18px;
  height: 18px;
  background-size: cover;
  border: none;
  cursor: pointer;
}
.header-menu-icon{
  position: relative;
  display: flex;
  width: 150px;
  justify-content: space-around;
  cursor: pointer;
}
.user{
  background: url("../images/user-alt.png")no-repeat center;
  width: 40px;
  height: 40px;
}
.basket{
  background: url("../images/shopping-basket.png")no-repeat center;
  width: 40px;
  height: 40px;
}
.header-bottom{
  position: relative;
  width: 100%;
  height: 115px;
  
}
.main-menu{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 40px;
  line-height: 22px;
}
.fa-bars{
  margin-right: 10px;
}
/* 이미지 슬라이드 */
.banner{
  position: relative;
  width: 100%;
  height: 100%;
  margin-top:calc(228px + 115px);
}
.swiper-slide{
  /* top: 600px; */
  width: 100%;
  height: 600px;
  background-color: aqua;
}
.slide-img1{
  background: url("../images/banner-1.png")no-repeat center;
  width: 100%;
  height: 100%;
}
.slide-img2{
  background: url("../images/banner-dosirak.png")no-repeat center;
  width: 100%;
  height: 100%;
}
.slide-img3{
  background: url("../images/banner-manggo.png")no-repeat center;
  width: 100%;
  height: 100%;
}
.slide-img4{
  background: url("../images/banner-tomato.png")no-repeat center;
  width: 100%;
  height: 100%;
}
/* 오늘의 도시락 */





/* 지원 */
/* 베스트 */
.best {
  width: 100%;
}
.best h2 {
  font-family: "TheJamsil5Bold";
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 30px;
}
.best-button {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.best-button li a {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  color: orange;
  border: 2px solid orange;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.best-button li:first-child a {
  filter: brightness(0.1);
}
.best-fruits {
  display: flex;
  width: 100%;
  height: 400px;
}
.best-fruits li {
  width: calc(100% / 4);
  gap: 20px;
  position: relative;
}
.best-img img:first-child {
  width: 100%;
  height: 80%;
  max-width: 270px;
  max-height: 270px;
}
.best-img img:last-child {
  position: absolute;
  bottom: 140px;
  right: 40px;
  width: 40px;
  height: 40px;
}
.best-fruits li h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
}
.best-price {
  display: flex;
  gap: 30px;
}
.best-price p:first-child {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
}
.best-new {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 188, 0);
  width: 50px;
  height: 25px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.best-recommend {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 172, 37);
  width: 50px;
  height: 25px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.best-more {
  font-family: "Noto Sans KR", sans-serif;
  display: block;
  width: 250px;
  height: 80px;
  font-size: 28px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 20px;
  border: 3px solid #444;
  margin: 50px auto;
}
.brand_story {
  
}
